.new {
  color: #bf4800;
  margin-bottom: 0;
}

.name {
  margin-bottom: 20px;
}

.quantity_wrapper {
  padding-top: 10px;
  margin-right: 60px;
}

.quantity_wrapper button[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.quantity_wrapper input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 56px;
  font-size: 18px;
  color: #43484d;
}

.price {
  color: #86868b;
}

.quantity_wrapper h3 {
  margin-top: 15px;
}

.quantity {
  font-weight: 600;
  margin-bottom: 5px;
}

.product_info_action {
  max-width: 500px;
  border: 1px solid #d2d2d7;
  padding: 1.3rem;
  border-radius: 5px;
  margin: 7px 0px;
}

.product_info_action:hover {
  border: 1px solid #86868b;
}
